<%= simple_form_for(@goal) do |f| %>
  <%= f.input :name %>
  <%= f.input :end_date, as: :date, html5: true %>
  <%= f.input :occurence, as: :integer %>
  <%= f.association :frequency %>
  <div class="category-fields" data-controller="category">
    <%= f.fields_for :categories do |category| %>
      <div data-category-target="field">
        <%= render "category", f: category %>
      </div>
      <%= button_tag "Add another category", type: "button", class: "secondary-btn bg-white", data: { action: "click->category#add" } %>
    <% end %>
  </div>
  <%= f.submit "Create my goal", class: "primary-btn" %>
<% end %>
