<div class="container" data-controller="calendar">
  <div class="row goals-container" data-controller="checkmark">
    <%= render 'goals', goals: @goals %>
    <div class="col-12 col-lg-5">
      <div class="sticky-calendar">
        <%= month_calendar(events: @goal_events, attribute: :start_date) do |date, goals| %>
          <% day_events = @goal_events.where(end_date: date) %>
          <% sub_day_events = @sub_goal_events.where(end_date: date) %>
          <div class="calendar-day <%= "day-marked" if day_events != [] || sub_day_events != [] %>" data-full-date="<%= date %>" data-calendar-target="day" data-action="click->calendar#load"><%= date.day %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
